@import url('https://fonts.googleapis.com/css2?family=Titillium+Web');

body {
  height: 100vh;
  overflow: hidden;
  background: #00c6ff;
  background: -webkit-linear-gradient(to top, #0072ff, #00c6ff);
  background: linear-gradient(to top, #0072ff, #00c6ff);
  color: #fff;
}

* {
  padding: 0;
  margin: 0;
}

.header,
.content,
.footer {
  background-color: rgba(0, 0, 0, 0.35);
  margin: 0;
  padding: 20px 100px;
}

.header {
  font-family: 'Titillium Web';
}

.content {
  margin-top: 20px;
  text-align: center;
}

.footer {
  bottom: 0;
  position: fixed;
  left: 0;
  width: 100%;
}